html{
    scroll-behavior: smooth;
}
*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #ebeced;
}

/* e-Passport head */
.main-div-head{
    position: sticky;
    top: 0;
    height: 100px;
    width: 100%;
    background-color: #075e24;
}
.left{
    width: 100%;
    height: 100px;
}
.left .bng{
    float: left;
    margin-top: 20px;
    margin-left: 100px;
}
.left-para{
    color: white;
    margin-left: 20px;
    margin-top: 20px;
    float: left;
}
.left .pass{
    margin-top: 20px;
    margin-right: 100px;
    float:right 
}
.right-para{
    color: white;
    margin-top: 20px;
    margin-right: 20px;
    float:right
}

/* e-Passport Banner */
.banner{
    height: 100%;
    width: 100%;
}


/* nav bar */
.nav-bar{
    position: sticky;
    top: 100px;
    width: 100%;
    height: 80px;
    background-color: white;
}
.nav{
    height: 80px;
}
.home{
    height: 82px;
    width: 82px;
    float: left;
    margin-left: 90px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
}
ul li{
    list-style: none;
}
.nav .nav-item a{
    text-decoration: none;
}
.nav .nav-item-first a{
    text-decoration: none;
    color: #35ab6c;
}
.nav .nav-item-big a{
    text-decoration: none;
}

/* hover */
.home:hover{
    background-color: #1e88e5;
}
.nav-item-first:hover{
    background-color: #189f57;   
}
.nav-item-first:hover a{
    color: white;
}
.nav-item-big:hover{
    background-color: #1e88e5;
}
.nav-item-big:hover a{
    color: white;
}
.nav-item:hover{
    background-color: #1e88e5;
}
.nav-item:hover a{
    color: white;
}


.nav-item{
    padding-top: 23px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 21px;
    font-weight: 600;
}
.nav-item-first{
    padding-top: 23px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 21px;
    font-weight: 600;
    background-color: rgba(59, 197, 31, 0.185);
}
.nav-item-big{
    text-align: center;
    padding-top: 7px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 21px;
    font-weight: 600;
}

/* Main body here */
.main-body{
    width: 100%;
}
.first-block{
    height: 260px;
    width: 25%;
    background-color: white;
    float: left;
    margin-left: -30px;
    margin-top: 24px;
    margin-right: 12px;
    margin-bottom: 12px;
    padding-top: 24px;
    padding-right: 32px;
    padding-bottom: 24px;
    padding-left: 32px;
}
.second-block{
    height: 260px;
    width: 25%;
    background-color: white;
    float: left;
    margin-top: 24px;
    margin-right: 12px;
    margin-left: 12px;
    margin-bottom: 12px;
    padding-top: 24px;
    padding-right: 32px;
    padding-bottom: 24px;
    padding-left: 32px;
}
.third-block{
    height: 260px;
    width: 25%;
    background-color: white;
    float: left;
    margin-top: 24px;
    margin-right: 12px;
    margin-left: 12px;
    margin-bottom: 12px;
    padding-top: 24px;
    padding-right: 32px;
    padding-bottom: 24px;
    padding-left: 32px;
}
.forth-block{
    height: 260px;
    width: 25%;
    background-color: white;
    float: left;
    margin-top: 12px;
    margin-right: 12px;
    margin-left: 142px;
    margin-bottom: 24px;
    padding-top: 24px;
    padding-right: 32px;
    padding-bottom: 24px;
    padding-left: 32px;
}
.fifth-block{
    height: 260px;
    width: 25%;
    background-color: white;
    float: left;
    margin-top: 12px;
    margin-right: 12px;
    margin-left: 12px;
    margin-bottom: 24px;
    padding-top: 24px;
    padding-right: 32px;
    padding-bottom: 24px;
    padding-left: 32px;
}
.sixth-block{
    height: 260px;
    width: 25%;
    background-color: white;
    float: left;
    margin-top: 12px;
    margin-right: 12px;
    margin-left: 12px;
    margin-bottom: 24px;
    padding-top: 24px;
    padding-right: 32px;
    padding-bottom: 24px;
    padding-left: 32px;
}
.icon{
    height: 52px;
    width: 52px;
    margin-left: 6px;
    margin-top: 50px;
    float: left;
}
.icon-para1{
    font-family: Arial,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",sans-serif;
    font-weight: 700;
    margin-top: 50px;
    margin-left: 20px;
    float: left;
}
.icon-para2{
    font-family: Arial,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",sans-serif;
    font-weight: 700;
    margin-top: 57px;
    margin-left: 20px;
    float: left;
}
.icon-para{
    font-family: Arial,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",sans-serif;
    font-weight: 700;
    margin-top: 55px;
    margin-left: 20px;
    float: left;
}
.icon-para5{
    font-family: Arial,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",sans-serif;
    font-weight: 700;
    margin-top: 51px;
    margin-left: 20px;
    float: left;
}
.main-body a{
    text-decoration: none;
    margin-top: 30px;
    margin-left: 20px;
    float: left;
}
.icon-a{
    text-decoration: none;
    padding-left: 57px;
    float: left;
    font-size: medium;
}
.arrow{
    height: 15px;
    width: 15px;
    margin-top: 15px;
    margin-left: 5px;
}
.arrow6{
    height: 15px;
    width: 15px;
    margin-top: 8px;
    margin-left: 5px;
}


/* bottom part */
.body-bottom{
    margin-top: 592px;
    width: 100%;
    height: 650px;
}
.left-side{
    width: 55%;
    height: 650px;
    background-color: white;
    float: left;
}
.right-side{
    width: 45%;
    height: 650px;
    background-color: white;
    float: right;
}
.left-side p{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 29px;
    margin-top: 30px;
    margin-left: 145px;
    margin-bottom: 0;
    float: left;
}
.right-a{
    margin-top: 30px;
    float: right;
}
.left-a{
    margin-top: 100px;
    margin-left: 145px;
}
.left-a-item{
    font-size: medium;
    line-height: 40px;
}
.video{
    margin-top: 35px;
    margin-left: 20px;
    margin-right: 100px;
    padding-top: 50px;
    padding-left: 60px;
    padding-bottom: 70px;
    background-color: #ebeced;
}
.video-p{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 2em;
    margin-left: 40px;
}
.video-p2{
    padding-top: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
}
.play{
    height: 15px;
    width: 15px;
    margin-left: 8px;
}
.video-a{
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 20px;
}

/* Frequently Asked Questions part here */
.question{
    width: 100%;
    height: 165px;
    background-color: white;
}
.div-1{
    height: 5px;
    margin-left: 100px;
    margin-right: 100px;
    background-color: blue;
}
.div-2{
    height: 120px;
    margin-left: 100px;
    margin-right: 100px;
    background-color: #ebeced;
}
.question-para{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 1.17em;
    padding-top: 45px;
    padding-left: 100px;
}
.bottom{
    height: 125px;
    width: 100%;
    background-color: #075e24;
    padding-top: 11px;
}
.bottom-a{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    padding-left: 634px;
    font-size: 0.9em;
}
.bottom-a:hover{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}
.bottom-a1{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    padding-left: 630.5px;
    font-size: 0.9em;
}
.bottom-a1:hover{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}
.bottom-a2{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    padding-left: 637px;
    font-size: 0.9em;
}
.bottom-a2:hover{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}
.bottom-para{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 0.9em;
    text-align: center;
    padding-top: 7px;
}
